In [1]:
import csv
import sys
import pandas as pd
import os
import glob
import itertools
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import random
import copy

In [2]:
lba_list = []

path = r'C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few'
all_files = glob.glob(os.path.join(path, "2016030819-LUN2.csv_updatedCC.csv"))
print(all_files)

['C:\\Users\\cchak\\Desktop\\Data_ECML\\VDI Traces\\selected_few\\2016030819-LUN2.csv_updatedCC.csv']

In [4]:
f = all_files[0]  # Change the file name as required


print("Working with file " + str(f))
cols = ['IO_num','LBA','Size','Deathtime_RWI']
df = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
df.columns = cols
df['Deathtime_RWI'] = df['Deathtime_RWI'].replace(np.NaN, -1)
print(len(df))

Working with file C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\2016030819-LUN2.csv_updatedCC.csv
100000

In [6]:
path = r'C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few'
all_files = glob.glob(os.path.join(path, "2016030819-LUN2.csv"))
print(all_files)

f = all_files[0]  # Change the file name as required


print("Working with file " + str(f))
cols = ['Timestamp','Response','IOType','LUN','Offset','Size']

df_original = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
df_original.columns = cols

print(len(df_original))

['C:\\Users\\cchak\\Desktop\\Data_ECML\\VDI Traces\\selected_few\\2016030819-LUN2.csv']
Working with file C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\2016030819-LUN2.csv
2902328

In [10]:
df.head(20)

    IO_num            LBA  Size  Deathtime_RWI
0        0  5119596273664   512           -1.0
1        1  5119596274176   512           -1.0
2        2  5119596274688   512           -1.0
3        3  5119596275200   512           -1.0
4        4  5119596275712   512           -1.0
5        5  5119596276224   512           -1.0
6        6  5119596276736   512           -1.0
7        7  5119596277248   512           -1.0
8        8  3777583883264   512         2728.0
9        9  3777583883776   512         2728.0
10      10  3777583884288   512         2728.0
11      11  3777583884800   512         2728.0
12      12  3777583885312   512         2728.0
13      13  3777583885824   512         2728.0
14      14  3777583886336   512         2728.0
15      15  3777583886848   512         2728.0
16      16  3777583887360   512         2728.0
17      17  3777583887872   512         2728.0
18      18  3777583888384   512         2728.0
19      19  3777583888896   512         2728.0

In [11]:
df_original.head(20)

       Timestamp  Response IOType  LUN         Offset   Size
0   1.457431e+09  0.005598      R    2  5119596273664   4096
1   1.457431e+09  0.000162      W    2  3777583883264  12288
2   1.457431e+09  0.000139      W    2  3777884090880   8192
3   1.457431e+09  0.000148      W    2  3779328570368   8192
4   1.457431e+09  0.000119      W    2  3777732022784   4096
5   1.457431e+09  0.000133      W    2  3777732030976   4096
6   1.457431e+09  0.000146      W    2  1262571331584   1536
7   1.457431e+09  0.000150      W    2  3777674848768   4096
8   1.457431e+09  0.000155      W    2  1254155999744  16384
9   1.457431e+09  0.000123      W    2  3755137137152   8192
10  1.457431e+09  0.000123      W    2  1254156016128   4096
11  1.457431e+09  0.004451      R    2  5119596236800   4096
12  1.457431e+09  0.000145      W    2  1261835260928   1536
13  1.457431e+09  0.000185      W    2  4346434631168   4096
14  1.457431e+09  0.000207      W    2  4343664587776  12288
15  1.457431e+09  0.000172      W    2  4345001049600   4096
16  1.457431e+09  0.000215      W    2  4347338027520   4096
17  1.457431e+09  0.000155      W    2  4343614817280   4096
18  1.457431e+09  0.000157      W    2  4347228367360   4096
19  1.457431e+09  0.000140      W    2  4343683114496   4096