In [1]:
import csv
import sys
import pandas as pd
import os
import glob
import itertools
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import random
import copy

In [2]:
lba_list = []

path = r'C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few'
all_files = glob.glob(os.path.join(path, "2016031115-LUN2.csv_updated_Heiner.csv"))
print(all_files)

['C:\\Users\\cchak\\Desktop\\Data_ECML\\VDI Traces\\selected_few\\2016031115-LUN2.csv_updated_Heiner.csv']

In [4]:
f = all_files[0]  # Change the file name as required


print("Working with file " + str(f))
cols = ['IO_num','LBA','Size','Deathtime_RWI']
df = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
df['Deathtime_RWI'] = df['Deathtime_RWI'].replace(np.NaN, -1)
df.columns = cols
print(len(df))

Working with file C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\2016031115-LUN2.csv_updated_Heiner.csv
273174

In [ ]:
path = r'C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few'
all_files = glob.glob(os.path.join(path, "2016031115-LUN2.csv"))
print(all_files)

f = all_files[0]  # Change the file name as required


print("Working with file " + str(f))
cols = ['Timestamp','Response','IOType','LUN','Offset','Size']

df_original = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
df_original.columns = cols

print(len(df_original))

['C:\\Users\\cchak\\Desktop\\Data_ECML\\VDI Traces\\selected_few\\2016031115-LUN2.csv']
Working with file C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\2016031115-LUN2.csv

In [18]:
df.head(10)

   IO_num            LBA  Size  Deathtime_RWI
0       0  3910856676864     1        11065.0
1       1  3903187203072     1         1537.0
2       2  3717134172160     1           -1.0
3       3   385572261376     1           -1.0
4       4   408753558528     1           -1.0
5       5   402296555520     1           -1.0
6       6   381004733440     1           -1.0
7       7   385595667456     1           -1.0
8       8   378427687424     1           -1.0
9       9   378427687425     1           -1.0

In [ ]:
df_original.head(10)